<hr />
<div class="footer-container">
	<p>© 2024 Manjit Bedi's Portfolio</p>
	<div class="social_icons">
		<a
			href="https://github.com/manjitbedi"
			aria-label="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
		<!-- use font resource for brand icons -->
			<i class="fa-brands fa-github"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/manjit-bedi/"
			aria-label="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>
</div>