<section class="profile">

  <div class="profile__image-wrapper">
    {% EleventyImage "/assets/profile.jpeg", "Manjit Bedi - Creative Technologist", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
	<p class="profile__text">I like to think of myself as a creative technologist working mostly in code. I make games, apps &amp; XR experiences.</p>
   <br/>
   
   <a href="https://learn.unity.com/u/592c58930909150023da344a?tab=profile">Unity Learn Profile</a>
   <br/>
   Completed Courses
   <a href="https://www.credly.com/badges/ec986d8d-ea2e-4d33-a906-83bac9805881"  class="badge-link">
     <img class="badge" src="/assets/Unity-AR-badge.png" alt="AR Badge" width="30" height="30">
    </a>
   
  </div>


</section>