<section class="profile">
  <div class="profile__image-wrapper">
    {% EleventyImage "/assets/profile.jpeg", "Manjit Bedi - Creative Technologist", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
	<p class="profile__text">I like to think of myself as a creative technologist - I am a software developer &amp; also a creative.</p>
  
   <p>I make games, apps &amp; XR experiences in VR &amp; AR</p>
   
   <br/>
   
   <a href="https://learn.unity.com/u/592c58930909150023da344a?tab=profile">Unity Learn Profile</a>
   
   <br/>
    
   <p>Under construction - May 2024</p>
  </div>
</section>