<article class="project-card">
  <div class="project-card__image-wrapper">
  	{% EleventyImage project.data.image, project.data.imageAlt, "(min-width: 30em) 50vw, 100vw" %}
  </div>
  <div class="project-card__body">
	<div class="project-card__tags">
	  {% for tag in project.data.tech %}
		<span class="project-card__tag">{{ tag }}</span>
	  {% endfor %}
	</div>
	<h3 class="project-card__title">
	  <a href="{{ project.url }}">{{ project.data.title }}</a>
	</h3>
	<p class="project-card__summary">{{ project.data.summary }}</p>
  </div>
</article>