<div class="skills-container">
  <h2 class="technologies__heading">Tech Stack</h2>
    <div class="grid-skills">
      <a href="https://developer.apple.com/augmented-reality/" style="text-decoration: none;'">
          <div class="skill-card AR">
              <img src="/assets/ARKit_2_icon.png" alt="AR Kit logo" class="heightSet">
              <p>AR</p>
          </div>
      </a>
      
      <a href="https://developer.apple.com/av-foundation/" style="text-decoration: none;'">
          <div class="skill-card AV Foundation">
              <img src="/assets/avfoundation-128x128_2x.png" alt="AR Foundation" class="heightSet">
              <p>AV Foundation</p>
          </div>
      </a>
      
      <a href="https://developer.apple.com/ios/" style="text-decoration: none;'">
        <div class="skill-card iOS">
            <img src="/assets/ios-17-num-96x96_2x.png" alt="iOS Logo" class="heightSet">
            <p>iOS</p>
        </div>
      </a>
      
      <a href="https://www.json.org/" style="text-decoration: none;'">
        <div class="skill-card iOS">
            <img src="/assets/code-json.svg" alt="JSON Logo" class="heightSet">
            <p>JSON</p>
        </div>
      </a>
      
      <a href="https://www.figma.com/" style="text-decoration: none;'">
        <div class="skill-card Figma">
            <img src="/assets/figma.svg" alt="Figma logo" class="heightSet">
            <p>Figma</p>
        </div>
      </a>
        
      <a href="https://firebase.google.com/" style="text-decoration: none;'">
        <div class="skill-card Firebase">
            <img src="/assets/Firebase-logo.png" alt="Firebase logo" class="heightSet">
            <p>Firebase</p>
        </div>
      </a>
        
      <a href="https://nodejs.org/" style="text-decoration: none;'">
        <div class="skill-card node">
            <img src="/assets/Nodejs.svg" alt="Node JS logo" class="heightSet">
            <p>Node.js</p>
        </div>
      </a>
        
      <a href="https://www.python.org" style="text-decoration: none;'">  
        <div class="skill-card python">
            <img src="/assets/Python-logo.png" alt="Python logo" class="heightSet">
            <p>Python</p>
        </div>
      </a>
       
      <a href="https://www.rive.app" style="text-decoration: none;'"> 
        <div class="skill-card Rive">
            <img src="/assets/Rive-logo.jpeg" alt="Rive logo" class="heightSet">
            <p>Rive</p>
        </div>
      </a>
      
      <a href="https://developer.apple.com/scenekit/" style="text-decoration: none;'">  
        <div class="skill-card SceneKit">
            <img src="/assets/SceneKit.png" alt="SceneKit Logo" class="heightSet">
            <p>SceneKit</p>
        </div>
      </a>
      
      <a href="https://sentry.io" style="text-decoration: none;'">  
        <div class="skill-card Sentry">
            <img src="/assets/Sentry.svg" alt="Sentry Logo" class="heightSet">
            <p>Sentry</p>
        </div>
      </a>
      
      <a href="https://developer.apple.com/spritekit/" style="text-decoration: none;'">  
        <div class="skill-card SpriteKit">
            <img src="/assets/SpriteKit.png" alt="SpriteKit Logo" class="heightSet">
            <p>SpiteKit</p>
        </div>
      </a>
      
      <a href="https://swagger.io" style="text-decoration: none;'">  
        <div class="skill-card Swagger">
            <img src="/assets/swagger.svg" alt="Swagger Logo" class="heightSet">
            <p>Swagger</p>
        </div>
      </a>
      
      <a href="https://www.swift.org" style="text-decoration: none;'">  
        <div class="skill-card Swift">
            <img src="/assets/Swift-logo.svg" alt="Swift Logo" class="heightSet">
            <p>Swift</p>
        </div>
      </a>
        
      <a href="https://derivative.ca" style="text-decoration: none;'">
        <div class="skill-card Touch Designer">
            <img src="/assets/TouchDesigner-logo.png" alt="Touch Designer logo" class="heightSet">
            <p>Touch Designer</p>
        </div>
      </a>
        
      <a href="https://unity.com" style="text-decoration: none;'">
        <div class="skill-card Unity">
           <img src="/assets/Unity-logo-black.png" alt="Unity Logo" class="heightSet">
            <p>Unity</p>
        </div>
      </a>
      
      <a href="https://unity.com/solutions/vr" style="text-decoration: none;'">
        <div class="skill-card VR">
            <img src="/assets/VR_Logo_Virtual_Reality_Logo.svg" alt="VR logo" class="heightSet">
            <p>VR</p>
        </div>
      </a>
      
      <a href="https://openusd.org" style="text-decoration: none;'">
        <div class="skill-card USD">
            <img src="/assets/USD-logo.png" alt="USD logo" class="heightSet">
            <p>USD</p>
        </div>
      </a>
      
      <a href="https://en.wikipedia.org/wiki/XML" style="text-decoration: none;'">
        <div class="skill-card USD">
            <img src="/assets/xml.svg" alt="XML logo" class="heightSet">
            <p>XML</p>
        </div>
      </a>
    </div>
</div>