<section class="technologies">
  <h2 class="technologies__heading">Tech Stack</h2>
  <ul class="technologies__list">
	<li class="technologies__item">
		<a href="https://developer.apple.com/ios/" style="text-decoration: none;'">
	  		<div class="technologies__logo">
			  <img src="/assets/iOS-Logo-2013-1024x474.jpg" alt="iOS Logo">
	  		</div>
	  		<h6 class="technologies__title">iOS</h6>
		</a>	
	</li>
	
	<li class="technologies__item">
		<a href="https://www.swift.org" style="text-decoration: none;'">
	    	<div class="technologies__logo">
				<img src="/assets/Swift-logo.svg" alt="Swift Logo">
		  	</div>
		  	<h6 class="technologies__title">Swift</h6>
	 	</a>	
	</li>

	<li class="technologies__item">
		<a href="https://www.unity.com" style="text-decoration: none;'">
	    	<div class="technologies__logo">
				<img src="/assets/Unity-logo-black.png" alt="Unity Logo">
		  	</div>
	  	    <h6 class="technologies__title">Unity</h6>
		</a>
	</li>

	<li class="technologies__item">
		<a href="https://firebase.google.com/" style="text-decoration: none;'">
  		 	<div class="technologies__logo">
			   <img src="/assets/Firebase-logo.png" alt="Firebase logo">
		 	 </div>	  
		  	 <h6 class="technologies__title">Firebase</h6>
		</a>
	</li>
	
	<li class="technologies__item">
		<a href="https://www.python.org" style="text-decoration: none;'">
  			<div class="technologies__logo">
			  	<img src="/assets/Python-logo.png" alt="Python logo">
			 </div>	  
			 <h6 class="technologies__title">Python</h6>
		</a>
	</li>
	
	<li class="technologies__item">
		<a href="https://derivative.ca" style="text-decoration: none;'">
	    	<div class="technologies__logo">
				<img src="/assets/TouchDesigner-logo.png" alt="Touch Designer logo">
		  	</div>	  
		 	<h6 class="technologies__title">TD</h6>
		</a>
	</li>
	
	<li class="technologies__item">
		<a href="https://nodejs.org/" style="text-decoration: none;'">
	   		<div class="technologies__logo">
			   <img src="/assets/Node-js.png" alt="Node JS logo">
		  	 </div>	  
		 	 <h6 class="technologies__title">Node.js</h6>
		</a>
	</li>
	
	<li class="technologies__item">
		<a href="https://developer.apple.com/augmented-reality/" style="text-decoration: none;'">
	    	<div class="technologies__logo">
				<img src="/assets/ARKit_2_icon.png" alt="AR Kit logo">
		 	</div>	  
		 	<h6 class="technologies__title">AR</h6>
		</a>
	</li>
	
	<li class="technologies__item">
		<a href="https://unity.com/solutions/vr" style="text-decoration: none;'">
	    	<div class="technologies__logo">
				<img src="/assets/VR_Logo_Virtual_Reality_Logo.svg" alt="VR logo">
		  	</div>	  
		  <h6 class="technologies__title">VR</h6>
		</a>
	</li>
	
	<li class="technologies__item">
		<a href="https://www.rive.app" style="text-decoration: none;'">
	    <div class="technologies__logo">
			<img src="/assets/Rive-logo.jpeg" alt="Rive logo">
	    </div>	  
	    <h6 class="technologies__title">Rive</h6>
		</a>
	</li>
  </ul>
</section>